html {
  background: #222;
}

.pane {
  background: #999;
  height: 100%;
  box-shadow: 3px -3px 5px #222;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.green {
  background: green;
}
.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
